.bannerButtonWrap .item:nth-child(5) a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 550;
    color: rgb(114, 113, 113);
    /* background-color: burlywood */
}
.bannerButtonWrap .item:nth-child(6) a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 550;
    color: #183265; 
    /* background-color: burlywood */
}
.aboutMeBanner{
    position: relative;
}
.aboutMeBanner::before{
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 30%; 
    height: 0;
    /* box-sizing: border-box; */
    /* border: brown 10px solid; */
    /* 這個地方是高度 本來是0現在是paddingbottom */
    background-color: darkgreen;
}
.aboutMeBanner .pic{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(8, 0, 85);
}
.aboutMeBanner .pic img{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}
.aboutIntroWrap{
    margin: auto;
    width: 1200px;
    /* background-color: cadetblue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.aboutIntroWrap .pic{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutIntroWrap img{
    width: 66%;
}
.aboutIntroWrap .txt{
    width: 50%;
}
.qaboxWrap{
    margin: auto;
    width: 1200px;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 0px;
}
.qaboxWrap h2{
    width: 100%;
    text-align: center;
}