
.qaBox  .question:hover{
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.qaBox .question02 input[type=checkbox]:checked + div {
    opacity:0;
    max-height:0;
}
.qaBox .toggle-box {
    opacity:1;
    overflow:hidden;
    width: 100%;
    box-sizing: border-box;
}
.qaBox  input{
    display: none;
}
.qaBox{
    /* border: 1px solid rgb(18, 0, 122); */
    /* background-color: burlywood; */
    margin: 0;
    padding: 0;
}
.question{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    height: 250px;
    position: relative;
}
.quoArrow{
    position: absolute;
    right: 0px;
    bottom: 10px;
}
